.header {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  &__body {
  }

  &__content{
    z-index: 1;
    padding: 34px 20px 28px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    &._colored{
      transition: all 0.3s ease-in-out 0s;
      background-color:#252525;
    }
    
  }
  &__container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    @media (min-width:768px) {
      &._hide{
        visibility: hidden;
      }      
    }
  }
  &__button {
  }

  &__menu {
  }

  &__logo {
    @include adaptiv-font(57,28);
    color: white;
    font-weight: 400;
    line-height: rem(34);
    padding: 0 30px;
  }

  &__select {
  }

  &__icons {
  }
}

//HEADER MAIN BLOCK TEXT------------------------------------------------------------------------------------------------
.title{
  position: relative;
  &__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__body{
    text-align:center ;
  }
  &__title{
    @include adaptiv-font(46,32);
    color: white;
    line-height: 54px;
    //line
    position: relative;
    padding: 0 0 19px 0;
    &:after{
      width: 120px;
      max-width: 120px;
      height: 1px;
      content: '';
      background-color: white;
      position: absolute;
      left: 50%;
      margin: 0 0 0 -52.5px;
      bottom: 0;
    }
  }
  &__subtitle{
    padding: 20px 0;
    text-align: center;
    @include adaptiv-font(16,14);

  }
  &__link{
    align-content: center;
    display: flex;
    justify-content: center;
    color: white;
    @include adaptiv-font(16,14);
  }
}

//HEADER MENU NAV-------------------------------------------------------------------------------------------------------
.menu {
  &__body {
    flex: 1 1 auto;

  }
  &__list {
    display: flex;
    @include adaptiv-font(18,16);
    line-height: rem(21);
    font-style: normal;
  }
  &__item:nth-child(2n){
    padding: 0 13px;
  }
  &__link{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    &:active{
      color: #E0BEA2;
    }
  }
}
.menu__link_selected{
  color: #E0BEA2;
}

//HEADER MENU SELECTORS-------------------------------------------------------------------------------------------------
.select{
  box-sizing: border-box;
  display: flex;
  gap: 1em;
  &__body{
    position: relative;
  }
  &__button{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
  }
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__list{
    @include adaptiv-font(18,16);
    line-height: rem(21);
    position: absolute;
    color: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition:  0.4s;
    }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0.4s;
    &:before{
      content: '';
      width:100%;
      border: 1px solid #E0BEA2;
      position: absolute;
      left: 0;
      margin: 0 0 0 0;
      top: 0;}
  }
  
}
.active{
  .select{
    
    &__button{
      img{
        transform:rotate(180deg)}
    }
    &__list{
      height: 64px;
      
    }  
  }
}
//HEADER ICONS LIST-----------------------------------------------------------------------------------------------------
.icons {
  &__list {
    display: flex;
    gap: rem(20);

  }

  &__item {
  }

  &__link {
    color: white;
  }
}
//ICONS FONT------------------------------------------------------------------------------------------------------------
.icon-search {
}

.icon-user {
}

.icon-favorite {
}

.icon-basket {
}
//HEADER MENU BURGER----------------------------------------------------------------------------------------------------
.icon-menu{
  z-index: 5;
  width: 34px;
  height: 24px;
  position: relative;
  visibility: visible;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    
    transform-origin: left center;
  }
  
  span:nth-child(2) {
    top: 10px;
    width: 26px;
    transform-origin: left center;
  }
  
  span:nth-child(3) {
    top: 20px;
    width: 18px;
    transform-origin: left center;
  }
  &._active {
    span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 100%;
      top: 24px;
      left: 8px;
    }
  }
}

.icon-menu-colored{
  z-index: 5;
  width: 34px;
  height: 24px;
  position: relative;
  visibility: visible;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #CCA88A;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    
    transform-origin: left center;
  }
  
  span:nth-child(2) {
    top: 10px;
    width: 26px;
    transform-origin: left center;
  }
  
  span:nth-child(3) {
    top: 20px;
    width: 18px;
    transform-origin: left center;
  }
  &._active {
    span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 100%;
      top: 24px;
      left: 8px;
    }
  }
}

.burgerpc{
  display: none;
  @media (min-width:768px){
  display: block;
  padding: 34px 0 28px 0;
  position: fixed;
  width: 100%;
  height: 10%;
  box-shadow: 0px 10px 15px rgba(37, 37, 37, 0.07); 
  top: 0;
  left: 100%;
  transition: all 0.3s ease 0s;
  &__container{
    display: grid;
    padding: 5px 20px;
    grid-template: 1fr/1fr 7fr;
  }
  &__list{
    display: flex;
    gap: 25px;
    grid-column: 2/3;
  }
  &__item{
  }
  &__link{
    @include adaptiv-font(18,16);
    color: #fff;}
  &._active{
    left: 0;}
}
}
.burger {
  display: none;
  @media (max-width:768px) {
  z-index: 1;
  display: block;
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: -100%;
  left: 0;
  overflow: auto;
  transition: all 0.3s ease 0s;
  
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__find{
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    width: 100%;
    position: relative;
    gap: 20px;
    &::before{
      width:100%;
      height: 0.3px ;
      content: '';
      background-color: #252525;
      position: absolute;
      left: 0;
      margin: 0 0 0 0;
      bottom:15px;
    }
    .select__select{
      display: block;
      
      a{color: #000;
      }
      li{color: #000;
        background-color: #ffffff;
      } 
    }
  }
  &__input {
    position: relative;
    border-radius: 20px;
    display: flex;
    width: 100%;
    input{
      border-radius: 20px;
      padding: 0 0 0 20px;
      height: 40px;
      width: 100%;
      border: 0.5px solid #252525;
      color: #252525;
      &:focus{
        border: 0.5px solid #E0BEA2;
        outline: #E0BEA2;}
      ::placeholder{
      color: #212529;}
    }
    .icon-search{
      position: absolute;
      top: 12px;
      right: 15px;
      color: #212529;
    }
    
  }
  
  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-content: center;
    }

  &__item {
    display: flex;
    padding: 20px 0;
    width: 100%;
    position: relative;
    &::before{
      width:100%;
      height: 0.3px ;
      content: '';
      background-color: #252525;
      position: absolute;
      left: 0;
      margin: 0 0 0 0;
      bottom:15px;
    }
  }

  &__link {
    color:#212529;
    margin:0 auto;
    padding: 0 0 20px 0;}
  
  .content {
    
    &__list {
      text-align: center;
      @include adaptive-padding-vh(100,76,0,0);
      padding-bottom: 0;
    }
    &__item {
    }
  
    &__link {
      color: #252525;
      line-height: 19px;
    }
  }
  &._active{
    top: 84px;
  }
  
  };
  
}


//-MEDIA----------------------------------------------------------------------------------------------------------------
@media (max-width: 768px) {
  body{
  &._lock{
    overflow: hidden;
  }
}
  .select__select_2{
    display: none;
  }
  .header{
    justify-content: center;
    align-items: center;
    &__container{}
    &__button{order: 1}
    &__menu{order: 4}
    &__logo{order: 3;
      padding: 0}
    &__select{order: 2;
      line-height: rem(19);
      padding: 0 5px;
    }
    &__icons{order: 5}
  }
  .menu__body{display: none}
  .icons__item:nth-child(-n+2){
    display: none;
  }
}
