.main {

  &__images {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  &__image {
    flex: 1 1 auto;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0) 100%);
    }
  }
  @media (max-width: 768px) {
    .main__image_2 {
      display: none;
    }
  }
    @media (max-width: 375px) {
      .main__image_3 {
        display: none;
      }
  }

  &__content {
    }
  &__container{
  }
  &__category {
  margin: 0 20px;
  }
  &__subscribe {
    padding: 8.8% 0;
  }

   //-------------------------------------------------------------------
.category {

  position: relative;
  &__title{
    font-weight: 200;
    font-style: normal;
    @include adaptiv-font(36,24);
    line-height: rem(42);
    padding:8.8% 0 4.4% 0;
  }
  &__slide-container {
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%);
    align-items: center;
    
}

  &__card{
    margin-right: 5.265%;
    max-height: 450px;
    height: 100%;
    float: left;
    &:last-child{
      margin-right: 0;
    }
  }
  &__image {
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

  &__name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    height: 40px;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
    bottom: 40px;
    a{
      @include adaptiv-font(20,18);
      line-height: 21px;
      color: #FFFFFF;
    }
  }

  &__text {
  }
  }
 //(max-width: 768px) or


   //SUBTITLE BLOG______________________________-------------------------------------------------------------------------
.subscribe {
  &__container {
    display: grid;
    grid-template:1fr/1fr minmax(20px,600px) 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__body {
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2/3
    
  }

  &__title {
    @include adaptiv-font(36,24);
    font-weight: 300;
    line-height: 42.26px;
    padding-bottom: 4.4%;
  }
&__email {
  display: flex;
  max-height: 60px;
  height: calc(40px + 29 * ((100vw - 340px) / 1140));
  input{
    @include adaptiv-font(16,14);
    width: 100%;
    text-align: center;
    border: 0.5px solid #252525;
    color: #252525;
    &:focus{
        border: 0.5px solid #E0BEA2;
        outline: #E0BEA2;
    }
    ::placeholder{
      color: #212529;
    }
  }
}

  &__button {
    margin:20px 0 20px 0;
  }
  &__text {
    @include adaptiv-font(16,14);
  }
}
 //GENERAL_BUTTON--------------------------------------------------------------------------------------------------------
@media  (max-width: 1024px) {
  .category__slide-container{
  grid-template-columns: repeat(3, 1fr);
  .category__card:nth-child(3n+3){
    display: none;}
  }
}

@media (max-width: 375px)  {
  .category{
    &__slide-container{
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(0px, auto);
    }
    &__card{
      height: 230px;
      &:nth-child(2){
        margin-right: 0;
      }
      &:last-child{
        display: none;
      }
    }
  }
  .subscribe__body{
    gap: 20px;
  }
}

}

